PORT=4000

MONGODB_URI=your_mongodb_connection_string_here

JWT_SECRET=your_super_strong_secret_key_here

NODE_ENV=development


CLOUDINARY_API_NAME=your_clodinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

SELLER_EMAIL=seller_email_here
SELLER_PASSWORD=seller_app_password_here

CPP_HOST=127.0.0.1
CPP_PORT=18080